<p-panel header="Parameters">
  <div class="parameters-container">
    <div class="parameter">
      <div>Lag</div>
      <p-slider [(ngModel)]="lag"
                [style.flex]="1"
                [step]="1"
                [min]="0"
                [max]="60"
                (ngModelChange)="requestRender()">
      </p-slider>
    </div>

    <div class="parameter">
      <div>Threshold</div>
      <p-slider [(ngModel)]="threshold"
                [style.flex]="1"
                [step]="1"
                [min]="0"
                [max]="60"
                (ngModelChange)="requestRender()">
      </p-slider>
    </div>

    <div class="parameter">
      <div>Influence</div>
      <p-slider [(ngModel)]="influence"
                [style.flex]="1"
                [step]="0.1"
                [min]="0"
                [max]="60"
                (ngModelChange)="requestRender()">
      </p-slider>
    </div>

    <div class="parameter">
      <div>Min Level</div>
      <p-slider [(ngModel)]="minlevel"
                [style.flex]="1"
                [step]="1"
                [min]="0"
                [max]="60"
                (ngModelChange)="requestRender()">
      </p-slider>
    </div>

    <div class="parameter">
      <div>Chart Viewport</div>
      <p-slider [(ngModel)]="viewportBoundaries"
                [style.flex]="1"
                [step]="1"
                [min]="0"
                [max]="data.length"
                [range]="true"
                (ngModelChange)="requestRender()">
      </p-slider>
    </div>
  </div>
</p-panel>

<div class="chart-container">
  <canvas #signalChart
          class="chart"></canvas>
</div>

<div class="chart-container">
  <canvas #detectionChart
          class="chart"></canvas>
</div>